<div *ngIf="screen1" class="container mt-4" id="registerform">
    <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label>Personal ID</label>
        <input type="number" class="form-control" name="tz" [(ngModel)]="tzModel" required #tz="ngModel" [ngClass]="{'is-invalid': tz.invalid && (tz.dirty || tz.touched)}">
        <div *ngIf="tz.invalid && tz.touched" class="invalid-feedback">
          ID field can't be blank
        </div>
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="string" class="form-control" name="uname" [(ngModel)]="unameModel" required #uname="ngModel"
          [ngClass]="{'is-invalid': uname.invalid && uname.touched}">
        <div *ngIf="uname.invalid && uname.touched" class="invalid-feedback">
          Username field can't be blank
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="emailModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          #email="ngModel" [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
        <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
          <div *ngIf="email.errors?.required">
            Email field can't be blank
          </div>
          <div *ngIf="email.errors?.pattern">
            The email must follow this pattern: name@domain.com
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd" [(ngModel)]="pwdModel" required #pwd="ngModel" [ngClass]="{'is-invalid': pwd.invalid && pwd.touched}">
      </div>
      <div *ngIf="pwd.invalid && pwd.touched" class="invalid-feedback">
        Password can't be blank
      </div>

      <div class="form-group">
        <label>Confirm password</label>
        <input type="password" class="form-control" name="confirm" [(ngModel)]="confirmModel" required #confirm="ngModel"
          [ngClass]="{'is-invalid': (confirm.invalid && (confirm.dirty || confirm.touched)) || confirmModel!==pwdModel}">
      </div>
      <div *ngIf="confirm.invalid && confirm.touched" class="invalid-feedback">
        <div *ngIf="(confirm.errors?.required && confirm.touched)">
          Input password once again
        </div>
        <div *ngIf="confirmModel!==pwdModel">
          Passwords must match!
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-default" [routerLink]="['/login']">Cancel</button>
        <button type="submit" [disabled]="f.invalid||confirmModel!==pwdModel" class="btn btn-success btn-outline-rounded btn-info">
          Next <span style="margin-left:10px;">
            <fa name="arrow-right"></fa>
          </span>
        </button>
      </div>
    </form>
  <div>{{message}}</div>
</div>

<div *ngIf="screen2" class="container mt-4" id="registerform2">
  <form novalidate (ngSubmit)="register()" #b="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="nameModel" required #name="ngModel" [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}">
      <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
        Name field can't be blank
      </div>
    </div>

    <div class="form-group">
      <label>City</label>
      <select  class="form-control" name="city" [(ngModel)]="cityModel">
        <option *ngFor="let city of cities">
          {{city}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" [(ngModel)]="streetModel" required #street="ngModel"
        [ngClass]="{'is-invalid': street.invalid && street.touched}">
      <div *ngIf="street.invalid && street.touched" class="invalid-feedback">
        Street field can't be blank
      </div>
    </div>

    <div>
      <button type="submit" [disabled]="b.invalid || submitted" class="btn btn-success btn-outline-rounded btn-info">
        Register
      </button>
    </div>
  </form>
<div>{{message}}</div>
</div>
